.body {
  background-color: rgb(33, 35, 36);
  color: aliceblue;
  font-size: 28px;
}

.link {
  color: aliceblue;
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
}

.header__logo {
  width: 200px;
}

.bunner {
  display: flex;
  justify-content: center;
}

.action-container {
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
}

.container_grey {
  border-style: solid;
  border-color: rgb(61, 71, 71);
  background-color: rgb(47, 56, 56);
}

.link-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link-list_right {
  margin-right: 4%;
  display: flex;
  justify-content: space-between;
  min-width: 400px;
}

.link-list_left {
  margin-left: 4%;
  display: flex;
  justify-content: space-between;
  min-width: 900px;
}

.page {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
}

.page__position {
  margin-top: 80px;
}

.aside {
  display: flex;
  flex-direction: column;
}

.aside_left {
  margin-left: 100px;
  max-width: 300px;
}

.aside_right {
  height: 300px;
  margin-left: 100px;
  padding-left: 30px;
  border-left: solid;
  border-color: rgb(61, 71, 71);
}

.main {
  min-width: 800px;
}

.footer {
  display: grid;
  grid-template-columns: minmax(260px, 2fr) repeat(4, minmax(0, 1fr));
  padding: 30px;
  background-color: rgb(47, 56, 56);
}

.social-icon {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  margin-top: 40px;
}

.icon {
  width: 40px;
}
