:root {
  --row-gap: 8px;
}

html {
  height: 100%;
}

.wrapper {
  background-color: rgb(33, 35, 36);
  color: aliceblue;
  font-size: 16px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__banner {
  height: 54px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(133, 133, 133);
  background-color: rgb(47, 56, 56);
}

@media (max-width: 769px) {
  .banner {
    display: none;
  }
}

.page {
  flex-grow: 1;
}

.link {
  color: aliceblue;
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1440px;
}

.header__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .row-container {
    display: none;
  }
}

.page__container {
  margin: 0 auto;
  width: 100%;
  display: grid;
  gap: 3rem;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
}

.aside {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .page__container {
    margin: 0 auto;
    width: 100%;
    display: grid;
    gap: 3rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  }
}

@media (max-width: 769px) {
  .page__container {
    display: flex;
    margin: 0 auto;
    width: 100%;
  }
  .aside {
    display: none;
  }
  .page-navigation {
    display: none;
  }
}

.row {
  display: flex;
  gap: var(--row-gap);
}

@media (max-width: 992px) {
  .row {
    display: none;
  }
}

.row--vertical-aligned_center {
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
}

.header__logo {
  width: 160px;
  height: 100%;
}

.header-links {
  display: flex;
  align-items: center;
}

.breadcrumbs {
  border-style: solid;
  border-color: rgb(61, 71, 71);
  background-color: rgb(47, 56, 56);
}

.breadcrumbs__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.page-navigation__list {
  border-left: 2px solid #696969;
}

.page-navigation__link {
  padding: 0.5rem 1rem;
}

.footer {
  display: grid;
  grid-template-columns: minmax(260px, 2fr) repeat(4, minmax(0, 1fr));
  padding: 30px;
  background-color: rgb(47, 56, 56);
}

@media (max-width: 769px) {
  .footer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: minmax(260px, 2fr) repeat (2, minmax(0, 1fr));
  }
}

.social-icon {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
}

.social-icon__position {
  margin-top: 40px;
}

.icon {
  width: 40px;
}
